<%= provide(:title, 'フリマ') %>

<div class="jumbotron jumbtron-fluid m-0">
  <div class="container">
    <h1>フリマ</h1>
    <p >フリマは配送料のみで出品された商品を買うことができるサイトです。</p>
    <%# ここに検索フォームを設置 %>
  </div>
</div>

<div class="container">
  <%# ここに新着商品を表示 %>
</div>